h3{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100px;
    margin-top:20px;
    color:brown
}
body {
    background-color:bisque;
}
.container{
    background-color:rgb(61, 82, 61);
    /* border:2px solid black; */
    margin-top:20px;
    /* padding-right:20px; */
    color:black;
}
img {
    width:100px;
    height:100px;
    
}
.card {
    margin:20px;
    
}
.card-title {
    text-align: center;

}
 .card-body{
    text-align: center;
 }
.btn{
  text-align: center !important;
  background-color: transparent;
  border:1px solid rgb(179, 206, 30);
 }
 .card-header{
    background-color: rgb(102, 95, 95);
 }
 .card-body {
background: linear-gradient(270deg, rgb(151, 118, 56), white);
}